.about-plm-col {
    margin: 0 auto;
}

.about-plm-img {
    width: 70%;
    border-radius: 25px;
    filter: grayscale(100);
    &:hover {
        filter: grayscale(0);
    }
}

.about-hello-img {
    display: block;
    margin: 2% auto;
    content: url("/assets/hello.png");
}
