.hello-container {
    background-color: #a6e3e9;
    min-height: 1500px;
    overflow: hidden;
    margin-bottom: 0!important;
}

.hello-heading {
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;

    &.hello-heading2 {
        font-size: 2.5rem;
    }
}

.hello-img {
    display: block;
    margin: 2% auto;
    content: url("/assets/hello.png");

    &.seperator-img {
        content: url("/assets/seperator.png");
        &.rotated {
            transform: rotate(180deg);
        }
        width: 50%;
    }
}
