.about-container {
    min-height: 581px !important;
}

.about-desc-col {
    overflow: hidden;
}

.about-plm-img {
    content: url(#{$img-path}/about/plm.png);
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 70%;
    border-radius: 25px;
    filter: grayscale(100);
    &:hover {
        filter: grayscale(0);
    }
}

.about-plm-desc {
    text-align: center;
}

.about-desc {
    margin: 0 auto 2%;
    font-size: 2.5rem;
}
