p {
    margin: 0 !important;
}

.contact-icon {
    margin-left: 20px;
    color: $base-yellow;
    animation: blinker 1s linear infinite;
    &:hover {
        color: $base-blue;
    }
}

.contact-header {
    margin: 0 !important;
}

.contact-desc-0 {
    margin: 10% 0 0 !important;
    color: gray;
}

.awssld {
    display: inline-block !important;
} 

.awssld,
.awssld__wrapper
{
    width: 50% !important;
}

.contact-row {
    border: $base-border;
    border-radius: 25px;
    background-image: url(#{$img-path}/contact/cmd.png);
    color: gray !important;
    overflow: hidden;
}

.awssld__content {
    background-color: transparent !important;
    align-items:flex-start !important;
    justify-content: flex-start !important;
}

.awssld__bullets,
.awssld__controls {
    visibility: hidden;
}
  