.hello-container {
    min-height: 500px !important;
    margin: 10% auto !important;
    overflow: hidden;
}

.hello-img {
    content: url(#{$img-path}/hello/hello.png);
    text-align: center;
    width: 50% !important;
}

.seperator-img {
    content: url(#{$img-path}/hello/seperator.png);
    display: block;
    margin: 0 auto;
    width: 50% !important;
    animation: lightSaber 0.8s linear 0s infinite normal none;
    transform-origin: 50% 50%;
}

.crawler {
    background-color: transparent !important;
}

.fade {
    top: 300px !important;
}

.crawler > div{
    min-height: 1% !important;
}

.crawler > section > div {
    animation: 10s linear 0s infinite normal none running crawl !important;
}