.nav-link {
    color: #f9d71c !important;
}

.pointer {
    cursor: pointer;
}

.active {
    color: rgb(76, 204, 203) !important;
}

.no-border {
    border-color: black !important;
    color: #f9d71c !important;
}