.dropdown-item, .nav-link {
    color: $base-yellow !important;
}

.navbar {
    background-color: black !important;
}

.nav-active {
    color: $base-blue !important;
}

.pointer {
    cursor: pointer;
}

.nav-dropdown {
    border-color: transparent !important;
    &:focus {
        box-shadow: none !important;
    }
}

.dropdown-menu {
    background-color: black !important;
    border: $base-border !important;
}
