.nav-link {
    color: #f9d71c !important;
}

.nav-active {
    color: rgb(76, 204, 203) !important;
}

.pointer {
    cursor: pointer;
}


.no-border {
    border-color: transparent !important;
    color: #f9d71c !important;
}