.skill-circle-container {
    @include on-circle($item-count: 8, $circle-size: 20em, $item-size: 6em);
    margin: 5rem 10% 2rem 10%;
    display: inline-block;

    img {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        filter: grayscale(100%);
        border: solid 5px #71c9ce;
        transition: 0.15s;
        &:hover,
        &:focus,
        &:active {
            filter: grayscale(0);
        }
    }
}

.skill-desc-text {
    font-size: 2.5rem;
    margin: 0 5%;
}
